extends baseEmail

block content
  p Hi #{firstName},
  p Thank You for applying to Shuga's!
  p We will review your application and be in touch!

  p We look forward to working with you more!
  p - The Shugas Crew
